<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package clientId="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package clientId="bootstrap" version="3.4.1" targetFramework="net472" />
  <package clientId="jQuery" version="3.4.1" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.WebApi.HelpPage" version="5.2.7" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package clientId="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package clientId="Microsoft.CodeDom.ProvclientIders.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package clientId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package clientId="Modernizr" version="2.8.3" targetFramework="net472" />
  <package clientId="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package clientId="WebGrease" version="1.6.0" targetFramework="net472" />
</packages>